{% raw %}
<script id="handlebars-template-table" type="text/x-handlebars-template">
<div id="main-table">
<table id="">
    <thead>
    <td>name</td>
    <td>diameter(km)</td>
    <td>climate</td>
    <td>terrain</td>
    <td>water(%)</td>
    <td>population</td>
    </thead>

<tbody id="tablebody">
    <tr id="{{ planet_name }}">
        <td id="name{{ planet_name }}">{{ planet_name }}</td>
        <td id="diameter{{ planet_name }}">{{ diameter }}</td>
        <td id="climate{{ planet_name }}">{{ climate }}</td>
        <td id="terrain{{ planet_name }}">{{ terrain }}</td>
        <td id="water{{ planet_name }}">{{ water }}</td>
        <td id="population{{ planet_name }}">{{ population }}</td>
        <td id="residents{{ planet_name }}">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="residents_button{{ planet_name }}">
            Residents
        </button>
        </td>
    </tr>

</tbody>
</table>
</div>
</script>
{% endraw %}
 {% include "resident_modal.html" %}
