
<div class="container">
<table id="" class="table table-dark">
    <thead>
    <tr>
    <td width="10%">name</td>
    <td width="15%">diameter(km)</td>
    <td width="20%">climate</td>
    <td width="15%">terrain</td>
    <td width="10%">water(%)</td>
    <td width="20%">population</td>
    <td width="10%">residents</td>
    </tr>
    </thead>
</table>
    <div class="card-body" id="main-table-container">
        {% raw %}
        <script id="handlebars-main-table" type="text/x-handlebars-template">
        <table id="tablebody" class="table table-light">
            <tbody>
                <tr id="{{ planet_name }}">
                    <td width="10%" id="name{{ planet_name }}">{{ planet_name }}</td>
                    <td width="15%" id="diameter{{ planet_name }}">{{ diameter }}</td>
                    <td width="20%" id="climate{{ planet_name }}">{{ climate }}</td>
                    <td width="20%" id="terrain{{ planet_name }}">{{ terrain }}</td>
                    <td width="10%" id="water{{ planet_name }}">{{ water }}</td>
                    <td width="15%" id="population{{ planet_name }}">{{ population }}</td>
                    <td width="10%" id="residents{{ planet_name }}">
                    <button type="button" class="btn btn-primary res" data-toggle="modal" data-target="#exampleModal" id="{{ planet_url }}" data-residents="{{ url }}">
                        Residents
                    </button>
                    </td>
                </tr>

            </tbody>
            </table>
        </script>
         {% endraw %}





        </div>
</table>
</div>

 {% include "resident_modal.html" %}
